#!/usr/bin/env nft -f
flush ruleset

table inet firewall {
	chain input {
		type filter hook input priority 0; policy drop;
		# established okay
		ct state established,related accept
		# invalid connections
		ct state invalid drop
		
		# loopback interface
		iif lo accept
		
		# icmp not bad
		ip6 nexthdr icmpv6 accept
		ip protocol icmp accept
	}
	chain forward {
		type filter hook forward priority 0; policy drop;
	}
	chain output {
		type filter hook output priority 0;
	}
}

{% for item in role_conf_files.stdout_lines %}
	include "/etc/nftables/{{ item }}"
{% endfor %}

# Include the reject line
add rule inet firewall input reject with icmpx type port-unreachable
